body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    overflow: auto; 
}

button {
    margin: 20px;
    padding: 15px 25px;
    font-size: 18px;
    border: none;
    border-radius: 50px;
    color: white;
    background-color: #007BFF;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

input, select {
    margin: 20px;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #ddd;
    max-width: 90%; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

p {
    color: #333;
    font-size: 20px;
}

img {
    max-width: 100%;
    max-height: 50vh;
    height: auto;
    object-fit: contain;
}